@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sora:wght@100..800&display=swap");
@import "tailwindcss";
@plugin 'daisyui' {
  themes:light --default;
}



@theme {
  --breakpoint-xs: 25rem;
}
* {
  font-family: "Epilogue";
}
body{
  overflow-x: hidden;
}